In [1]:
# define constants
input_dataset_parent_path = '/home/vamshikrishnadude/Downloads/Driving data prediction/input_dataset/'
path_to_input_csv = input_dataset_parent_path+ 'volkswagen_e_golf.csv'

In [2]:
# import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sb

import os
from IPython.core.display import display

In [3]:
# Global variables
df = pd.DataFrame();

In [4]:
# Load Dataset
if os.path.exists(path_to_input_csv) :
    df = pd.read_csv(path_to_input_csv);
    display(df.head(5))

,manufacturer,model,version,power(kW),fuel_date,trip_distance(km),quantity(kWh),fuel_type,tire_type,city,motor_way,country_roads,driving_style,consumption(kWh/100km),A/C,park_heating,avg_speed(km/h),ecr_deviation
0,Volkswagen,Golf,e-Golf,85,08.02.2019,80,NaN,Electricity,Winter tires,0,0,1,Normal,17.8,0,1,53.0,1.0
1,Volkswagen,Golf,e-Golf,85,06.02.2019,50,12.29,Electricity,Winter tires,0,0,1,Normal,15.5,0,1,47.0,-1.3
2,Volkswagen,Golf,e-Golf,85,05.02.2019,43,8.68,Electricity,Winter tires,0,1,1,Normal,18.0,0,1,58.0,1.2
3,Volkswagen,Golf,e-Golf,85,04.02.2019,44,1.50,Electricity,Winter tires,0,1,1,Normal,16.1,0,1,43.0,-0.7
4,Volkswagen,Golf,e-Golf,85,04.02.2019,76,14.44,Electricity,Winter tires,0,1,0,Normal,19.0,0,1,76.0,2.2

In [5]:
df.isnull().sum()[df.isnull().sum() > 0]

trip_distance(km)     1
quantity(kWh)         1
avg_speed(km/h)      13
dtype: int64

### Data Overview

* “ecr_deviation,” : difference between the energy consumption rate recorded at each trip and the value announced by the manufacturer, which is stated as 16.8 kilowatts per hundred kilometers.


* “a/c” : inside vehicle air-conditioning 


* “park_heating” is the car’s heating system



> the useless columns, such as model and theversion of the vehicle, are eliminated and the “distance (km)” column is labeled as the target.

In [6]:
# Variable count
print("Number of variables : ", len(df.columns))

Number of variables :  18

In [7]:
# Data types 
df.dtypes

manufacturer               object
model                      object
version                    object
power(kW)                   int64
fuel_date                  object
trip_distance(km)          object
quantity(kWh)             float64
fuel_type                  object
tire_type                  object
city                        int64
motor_way                   int64
country_roads               int64
driving_style              object
consumption(kWh/100km)    float64
A/C                         int64
park_heating                int64
avg_speed(km/h)           float64
ecr_deviation             float64
dtype: object

In [8]:
df['city'].value_counts()

1    2323
0    1022
Name: city, dtype: int64

In [9]:
df['motor_way'].value_counts()

1    2225
0    1120
Name: motor_way, dtype: int64

In [10]:
df['country_roads'].value_counts()

1    1963
0    1382
Name: country_roads, dtype: int64

In [11]:
df['A/C'].value_counts()

0    3195
1     150
Name: A/C, dtype: int64

In [12]:
df['park_heating'].value_counts()

0    2714
1     631
Name: park_heating, dtype: int64

* **trip_distance(km), city, motor_way, country_roads, A/C, park_heating** have incorrect data types.
* **trip_distance(km)** is a numeric data type
* **city, motor_way, country_roads, A/C, park_heating** are binomial data types can be converted to string types or can be remained as_it_is.

### Type Conversion

In [13]:
def tryconvert(value, default, t):
    if t == 'numeric':
        try:
            return float(value)
        except (ValueError, TypeError):
            return default
    if t == 'str':
        try:
            return str(value)
        except (ValueError, TypeError):
            return default

In [14]:
df['trip_distance(km)'] = df['trip_distance(km)'].map(lambda x : tryconvert(x, np.nan, 'numeric') )

In [15]:
#df[['city', 'motor_way', 'country_roads', 'A/C', 'park_heating']] = df[['city', 'motor_way', 'country_roads', 'A/C', 'park_heating']].astype('str')

In [16]:
# cross check the data types
df.dtypes

manufacturer               object
model                      object
version                    object
power(kW)                   int64
fuel_date                  object
trip_distance(km)         float64
quantity(kWh)             float64
fuel_type                  object
tire_type                  object
city                        int64
motor_way                   int64
country_roads               int64
driving_style              object
consumption(kWh/100km)    float64
A/C                         int64
park_heating                int64
avg_speed(km/h)           float64
ecr_deviation             float64
dtype: object

In [17]:
display(df.head(5))

,manufacturer,model,version,power(kW),fuel_date,trip_distance(km),quantity(kWh),fuel_type,tire_type,city,motor_way,country_roads,driving_style,consumption(kWh/100km),A/C,park_heating,avg_speed(km/h),ecr_deviation
0,Volkswagen,Golf,e-Golf,85,08.02.2019,80.0,NaN,Electricity,Winter tires,0,0,1,Normal,17.8,0,1,53.0,1.0
1,Volkswagen,Golf,e-Golf,85,06.02.2019,50.0,12.29,Electricity,Winter tires,0,0,1,Normal,15.5,0,1,47.0,-1.3
2,Volkswagen,Golf,e-Golf,85,05.02.2019,43.0,8.68,Electricity,Winter tires,0,1,1,Normal,18.0,0,1,58.0,1.2
3,Volkswagen,Golf,e-Golf,85,04.02.2019,44.0,1.50,Electricity,Winter tires,0,1,1,Normal,16.1,0,1,43.0,-0.7
4,Volkswagen,Golf,e-Golf,85,04.02.2019,76.0,14.44,Electricity,Winter tires,0,1,0,Normal,19.0,0,1,76.0,2.2

### Missing Values Analysis

In [18]:
# Observing nonstandard data in Object variables

# manufacturer
print("Manufacturers")
display(df['manufacturer'].value_counts())

# models
print("Models")
display(df['model'].value_counts())

# versions
print("Versions")
display(df['version'].value_counts())

# fuel type
print("Fuel type")
display(df['fuel_type'].value_counts())

# type type
print("tire type")
display(df['tire_type'].value_counts())

# driving_style
print("driving_style")
display(df['driving_style'].value_counts())

Manufacturers

Volkswagen    3345
Name: manufacturer, dtype: int64

Models

Golf    3345
Name: model, dtype: int64

Versions

e-Golf    3345
Name: version, dtype: int64

Fuel type

Electricity    3345
Name: fuel_type, dtype: int64

tire type

Summer tires    1826
Winter tires    1519
Name: tire_type, dtype: int64

driving_style

Moderate    2334
Normal       912
Fast          99
Name: driving_style, dtype: int64

* **No Non-standard missing values found in object datatypes**

In [19]:
# standard missing values
df.isnull().sum()[df.isnull().sum() > 0]

trip_distance(km)     4
quantity(kWh)         1
avg_speed(km/h)      13
dtype: int64

In [ ]:
# Imputation